@import '../../scss/config.scss';

.skill-container{
    float:left;
    width:100%;
    overflow:hidden;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 50px 50px 100px 50px;

        float:left;
        width:100%;
        //for transfor3D
        -webkit-perspective: 500px; /* Chrome, Safari, Opera */
        perspective: 500px;
        // display: inline-table; //for child height fit container
        .skill-item-container{
            float:left;
            width:33.333333333%;
            //padding-top:100%;
            
            
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
            padding: 20px 10px 20px 10px;

            height:80px;
            cursor:pointer;

            // display: inline-block; //for child height fit container
            .skill-image-wrapper{
                height: 100%;
                width: 100%;
                // width:30px;
                margin: 0 auto 0 auto;
                // background-color: #0f0;
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .skill-image{
                display:none;
                // height:100%;
                background-color: #fff;
                vertical-align: text-bottom;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                max-width: 100%;
                max-height: 200%;
            }
            .skill-text{
                margin: 4 0 0 0;
                height:30px;
                font-size:15px;
                font-size:3.5vw;
                // max-width: 1px;
                // max-height: 1px;
                text-align: center;
            }
        }
        .row:before{
            display:table;
            content:" ";
            clear:both;
        }
        
}



.skill-item-container:before{
    content:'';
    padding-top:100%; /* vertical value as  100% equals width */
    float:left;
}
//.skill-container:before, .skill-container:after, .row:before, .row:after, 
/*.skill-item:before, .skill-item:after{
    display:table;
    content:" ";
    clear:both;
}*/



@media screen and (min-width: $container-small-min-width){
    .skill-container{
        .skill-item-container{
            .skill-text{
                font-size:30px;
            }
        }
    }
}
@media screen and (min-width: $container-medium-min-width){
    .skill-container{
        .skill-item-container{
            width:25%;
            
        }
    }
}
@media screen and (min-width: $container-large-min-width){
    .skill-container{
        .skill-item-container{
            width:20%;
          
        }
    }
}