@import '../../scss/config.scss';
$menu-animate-time : .3s;

a { color: #333; text-decoration: none;}
button{cursor: pointer;}
button:focus {outline:0;}
body{    
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #fff;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}


/* main structure */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}


/*default menu */
.navbar-brand {
    float: left;
    // height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar {
    margin: 4px -15px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

nav{
    visibility: hidden;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    overflow-y: auto;
    border-top: 1px solid;
    border-color: #e7e7e7;
    
    height: auto;
    
    &.collapsing{
        position: relative;
        overflow: hidden;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
        -webkit-transition-duration: $menu-animate-time;
        -o-transition-duration: $menu-animate-time;
        transition-duration: $menu-animate-time;
        -webkit-transition-property: height,visibility;
        -o-transition-property: height,visibility;
        transition-property: height,visibility;
    }

}



/* hamburger */
.hamburger-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
}
.hamburger-toggle:hover {
    background-color: #ddd;
}
.hamburger-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
}
.hamburger-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}


.t1{
    float:left;
    position:relative;
    padding:0px;
    text-align: left;
    .brand-icon{
        height:50px;
    }
}



/* make menu get height properly*/
nav:after,nav:before, .navbar-header:before,.navbar-header:after, .container:before,.container:after{
  display: table;
  content: " ";
  clear: both;
}


@media (min-width: $container-small-min-width ){
  .container {
      width: 750px;
  }
  nav{
      border-top: 0px;
      display: block!important;
      visibility: visible!important;
      height: auto!important;
  }
  .navbar {
      float: left;
  }
  .navbar>li {
      float: left;
  }
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }
  .navbar-header {
    float: left;
  }
  .hamburger-toggle{
      display: none;
  }


    .t1{
        position:absolute;
        top:0;
        left:0;
        right:0;
        text-align: center;
        padding:5px;
        .brand-icon{
            height:86px;
        }
    }
}

@media (min-width: $container-medium-min-width){
  .container {
      width: 970px;
  }
}
@media (min-width: $container-large-min-width){
  .container {
      width: 1170px;
  }
}



$hr-right-color:0;
$hr-center-color:200;
$hr-left-color:0;

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba($hr-left-color, $hr-left-color, $hr-left-color, 0), rgba($hr-center-color, $hr-center-color, $hr-center-color, 0.75), rgba($hr-right-color, $hr-right-color, $hr-right-color, 0));
}
h1{
    text-align: center;
}